<app-header ></app-header>
<div class="container">

    <div class="row title-section mb-3">
        <div class="col-12">
            <div class="titile-heading">
                <h1 class="mb-0 ml-3 hello">
                    Hello,
                </h1>
                <h1 class="user-name">
                    {{username}}
                </h1>
                <small class="ml-5 title-date float-right">{{day}} - {{currentDate}}</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 mt-3 create-task-section" >
            <div class="row">
               <div class="col-6 create-task-number ml-5"> 
                   <h3>
                       57
                   </h3>
                   <h6 class="create-task">
                        Created Tasks
                   </h6>
               </div>
            </div>
        </div>

        <div class="col-6 mt-3 create-task-section" >
                <div class="row">
                   <div class="col-6 create-task-number ml-5"> 
                       <h3>
                           102
                       </h3>
                       <h6 class="create-task">
                            Completed Tasks
                       </h6>
                   </div>
                </div>
            </div>
    </div>


    <div class="row">
        <div class="col-6 mt-3 task-view">
            <div class="row ml-2 mt-3">
               <div class="col-3" > 
                <img src="assets/img/calendar.png" alt="">
            </div>
            <div class="col-4">
                    <h6 class="task-view-title">
                            All Schedule
                        </h6>
            </div>   
            </div>
            <small class="ml-5 text-center">57 Tasks</small>
        </div>

        <div class="col-6 mt-3 task-view">
                <div class="row ml-2 mt-3">
                   <div class="col-3" > 
                    <img src="assets/img/teamwork.png" alt="">
                </div>
                <div class="col-4">
                        <h6 class="task-view-title">
                                Personal Errands
                            </h6>
                </div>   
                </div>
                <small class="ml-5 text-center">57 Tasks</small>
            </div>
    </div>

   
    <div class="row">
            <div class="col-6 mt-3 task-view">
                <div class="row ml-2 mt-3">
                   <div class="col-3" > 
                    <img src="assets/img/start-up.png" alt="">
                </div>
                <div class="col-4">
                        <h6 class="task-view-title">
                                Work Projects
                            </h6>
                </div>   
                </div>
                <small class="ml-5 text-center">42 Tasks</small>
            </div>
    
            <div class="col-6 mt-3 task-view">
                    <div class="row ml-2 mt-3">
                       <div class="col-3" > 
                        <img src="assets/img/books.png" alt="">
                    </div>
                    <div class="col-4">
                            <h6 class="task-view-title">
                                    Education Section
                                </h6>
                    </div>   
                    </div>
                    <small class="ml-5 text-center">30 Tasks</small>
                </div>
        </div>

    <app-footer class="footer"></app-footer>

</div>
