.title-section{
    height: 100px;
    .titile-heading {
        h1 {
            margin: 0px 35px;
            font-weight: 200;
        }
    }
    .hello {
        color: #47425c;
    }
    .user-name {
        color: #5a5478;
        font-weight: 400 !important;
    }
    .title-date{
        color: lightsteelblue;
    }
    // border-bottom: 0.5px solid lightgrey;
    }
    .create-task-section {
        height: 80px;background-color: #ffffff;
        box-shadow: 0px 0px 0px #ccc, 1px 0px 4px #ccc; 
        // border-radius: 10px;
        // max-width: 0 10px;
        .create-task-number {
            h3{
                font-size: 1.75rem;
                text-align: center;
                margin-bottom: 0px;
            }
    
            .create-task{
                text-align: center;
                margin: 0px;
            }
    
        }
    }

    .task-view{
        height: 100px;
        background-color: #ffffff;
        box-shadow: 0px 0px 0px #ccc, 1px 0px 4px #ccc;
        .task-view-title{
            font-size: 14px;
            color:#5a5478;
        }
        small {
            color:lightsteelblue;
        }
    }

    .footer {
        position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    }