<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <img src="assets/img/add.png" alt="" [routerLink]="['/newtask']" >
            </div>
        </div>
    </div>
</div>