.header{
    
    background: linear-gradient(to bottom, #4F3D92 20%, #5FAFB3 90%);
// background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,79,121,0.5662640056022409) 35%, rgba(0,212,255,1) 100%);
    height: 70px;
    color: #ffffff;
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
}
