<div class="row header mb-4 mx-0" >
    <div class="col-12">
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link disabled float-right"  style="color:#ffffff">Menu</a>
            </li>
          </ul>
    </div>
</div>
