.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .task-title{
      text-align: center;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  