<app-header></app-header>
<mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Title</ng-template>
            <!-- <mat-form-field>
                    <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                </mat-form-field> -->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Title" value="" formControlName="firstCtrl" required>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <mat-label>Task Type</mat-label>
                <mat-select [formControl]="toppings" multiple>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="col">

                <mat-form-field class="example-full-width" >
                    <textarea matInput placeholder="Description"></textarea>
                </mat-form-field>

            </div>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Schedule</ng-template>
            <div class="col">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1" (click)="checkedDate('1')">Current Date</mat-radio-button>
                    <mat-radio-button value="2" (click)="checkedDate('2')">Other Date</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col" *ngIf="isShowDate==true">
                <mat-form-field style="width:100%">
                    <input matInput [matDatepicker]="picker" placeholder="Schedule Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>


            <div class="col">
                <mat-form-field class="example-full-width">
                    <input  type="time" matInput placeholder="Start Time" value="">
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field class="example-full-width">
                    <input type="time" matInput placeholder="End Time" value="">
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Done</ng-template>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Leave a comment"></textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperPrevious class="mat-button">Back</button>
                <button mat-button (click)="stepper.reset()" class="mat-button">Reset</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>