<app-header></app-header>

<div class="login-wrapper container" fxLayout="row" fxLayoutAlign="center center" *ngIf="isShowLogin!==true">

  <mat-card class="box">

    <mat-card-header>

      <mat-card-title class="text-center">Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>
        <div class="col">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </div>
      </mat-card-content>
     <button mat-stroked-button class="mr-2" color="accent" type="submit" mat-button (click)="login('1')">Login</button>
      <button mat-stroked-button color="accent" type="submit" mat-button (click)="signUp('2')">Sign Up</button>
    </form>
  </mat-card>

</div>



<div class="login-wrapper container" fxLayout="row" fxLayoutAlign="center center" *ngIf="isShowLogin==true">

  <mat-card class="box">

    <mat-card-header>

      <mat-card-title class="text-center">Sign Up</mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>
        <div class="col">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </div>
      
        <div class="col">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Confirm Password">
          </mat-form-field>
        </div>
      </mat-card-content>
     <button mat-stroked-button class="mr-2" color="accent" type="submit" mat-button (click)="login('1')">Login</button>
      <button mat-stroked-button color="accent" type="submit" mat-button (click)="signUp('2')">Sign Up</button>
    </form>
  </mat-card>

</div>