.todo-card{
    height: 80px;
    border-radius: 5px;
    margin: 5px 0px;


    h6{
        margin-top: 30px;
        font-size:14px;
    }
    img {
        margin:25px 10px;
        width:80%;
    }
    .time{
       
        margin: 23px 0px;
        color: lightsteelblue;
    }
}