<app-header></app-header>
<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <mat-form-field style="width:100%">
                <input matInput [matDatepicker]="picker" placeholder="Select A Date To View To Do">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card todo-card">
                <div class="row">
                    <div class="col-2">
                        <img src="assets/img/teamwork.png" alt="">
                    </div>
                    <div class="col-6">
                                <h6>
                                    Buy Milk
                                </h6>
                    </div>
                    <div class="col-4 time">
                        <small class="">
                                {{time}}
                        </small>
                    </div>

                    
                    </div>
            </div>
        </div>

        <div class="col-12">
                <div class="card todo-card">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/img/teamwork.png" alt="">
                        </div>
                        <div class="col-6">
                                    <h6>
                                        Buy Milk
                                    </h6>
                        </div>
                        <div class="col-4 time">
                            <small class="">
                                    {{time}}
                            </small>
                        </div>
    
                        
                        </div>
                </div>
            </div>

            
        <div class="col-12">
                <div class="card todo-card ">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/img/teamwork.png" alt="">
                        </div>
                        <div class="col-6">
                                    <h6>
                                        Buy Milk
                                    </h6>
                        </div>
                        <div class="col-4 time">
                            <small class="">
                                    {{time}}
                            </small>
                        </div>
    
                        
                        </div>
                </div>
            </div>


            
        <div class="col-12">
                <div class="card todo-card">
                    <div class="row">
                        <div class="col-2">
                            <img src="assets/img/teamwork.png" alt="">
                        </div>
                        <div class="col-6">
                                    <h6>
                                        Buy Milk
                                    </h6>
                        </div>
                        <div class="col-4 time">
                            <small class="">
                                    {{time}}
                            </small>
                        </div>
    
                        
                        </div>
                </div>
            </div>
    </div>
</div>
